.credo-list {
  // display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    display: flex;
    // margin-right: -30px;
    margin-bottom: -30px;
  }
}
.features {
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}
.credo__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc(100% / 2 - 30px);
    &:nth-child(even) {
      margin-right: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
    &:nth-child(4n + 4) {
      margin-right: 0;
    }
  }
}

.wrap-credo-icon {
  background: var(--bg-icon-credo);
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.credo__icon {
  height: 70px;
  border-radius: 4px;
  width: 100%;
  margin-top: 25px;
}
.credo__title {
  color: var(--text-title);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: unset;
  }
}
.credo__text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
