.footer {
  background-color: var(--color-bcg);
  line-height: 1.71;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    display: flex;
    text-align: unset;
  }
}
.footer__logo {
  color: var(--text-white);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin: 0;
}
.footer-address {
  margin-top: 20px;
  width: 231px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin: 20px 0 60px 0;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.footer-address__kyiv {
  color: var(--text-white);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
}
.footer-address__link {
  color: var(--mail-tel-footer);
  font-style: normal;
  // display: flex;
  display: block;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:last-child {
    margin-bottom: 0;
  }
  &:focus,
  &:hover {
    color: var(--text-accent-hf);
  }
}
.wrap-tablet {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}
.social-thumb {
  @media screen and (min-width: 768px) {
    // margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}
.block {
  display: block;
  @media screen and (min-width: 768px) {
    width: 232px;
  }
}
.footer-join__list {
  display: inline-flex;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    display: flex;
    text-align: unset;
    // margin-left: 70px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    // margin-left: 70px;
    margin-bottom: 0;
  }
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  display: block;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white);
  margin-bottom: 20px;
  text-align: center;
  @media screen and (min-width: 768px) {
    // display: flex;
  }
  @media screen and (min-width: 1200px) {
    // display: flex;
    text-align: start;
  }
}
.footer-join__item {
  display: flex;
  width: 206px;
}
.footer-item-social {
  display: flex;
}

.footer-join__link--social {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: var(--text-accent-hf);
  }
}

.footer-join__icon {
  fill: var(--text-white);
  margin: 12px;
}

.footer-thumb-form {
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
.footer-forma {
  // height: 50px;
  @media screen and (min-width: 768px) {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.footer-forma__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 0 15px 16px;
  background-color: transparent;
  outline: none;

  margin-bottom: 20px;
  &:focus {
    color: var(--text-white);
    border-color: var(--text-accent-hf);
  }
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.footer-forma__btn {
  align-items: center;
  justify-content: center;
  padding: 10px 0 10px 29px;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.footer-forma__icon-sign {
  margin-left: 10px;
  margin-right: 28px;
}
